# ------------------------------
# OS FILES
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# LOGS
# ------------------------------
*.log
logs/
*.out

# ------------------------------
# BUILD FILES
# ------------------------------
target/
build/
out/

# ------------------------------
# JAVA
# ------------------------------
*.class
*.jar
*.war
*.ear

# ------------------------------
# SPRING BOOT
# ------------------------------
*.pid
*.seed
*.pid.lock

# ------------------------------
# IDE (INTELLIJ)
# ------------------------------
.idea/
*.iws
*.iml
*.ipr



# ------------------------------
# ENV FILES (CRITICAL)
# ------------------------------
.env
.env.*
application-prod.properties
application-secret.properties

# ------------------------------
# DATABASE
# ------------------------------
*.sql
*.db

# ------------------------------
# CACHE / TEMP
# ------------------------------
*.tmp
*.cache

